{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Video Subscription Project</h1>
    <p>This platform allows you to view and subscribe to various videos.</p>
    <p>You can navigate to the following sections:</p>
    <ul>
        <li><strong>Profile:</strong> Manage your account settings and view your profile.</li>
        <li><strong>Videos:</strong> Explore the available videos and watch your favorites.</li>
        <li><strong>Subscription:</strong> View and manage your subscription details.</li>
    </ul>
{% endblock %}
